*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:line;
    outline: none;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

:root{
    --purple-200: #EED9F7;
    --purple-500: #004AAD;
    --purple-800: #9863D8;

    --gray-200: #fbf6fd;
    --gray-400: #AFAFAF;

    --black-800: #313131;

    --white: #F9F9F9;
}

html{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

body{
    background-color: var(--gray-200);
    color: var(--black-800);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

button,
a{
    cursor: pointer;
}

.botao{
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--purple-800);
    border-radius: 10px;
    font-weight: 700;
    transition: background-color 0.8s ease;
}

.botao:hover{
    background-color: var(--purple-800);
    color: var(--white);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização - Header */

.menu_container{
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--purple-800);
    border-bottom: 1px solid var(--purple-500);
    filter: opacity(0.9);
}

.menu_container a{
    color: var(--white);
    font-weight: 700;
}

.menu_container a:hover{
    color: var(--purple-200);
}

.menu_content{
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_list{
    list-style: none;
    text-align: center;
}

.menu_list li{
    margin: 0 1rem;
    margin-bottom: 1rem;
}

/* Estilização home */

.home_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
    margin-top: 2rem;
}

.home_container p,
h1,
h4{
    text-align: justify;
    font-size: 1rem;
}

.home_container h1{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: justify;
    margin-right: auto;
}

.home_container h4{
    font-weight: 700;
    text-align: justify;
    margin-right: auto;
}

.home_container p{
    margin: 1rem 0;
    margin-bottom: 1rem;
    text-align: justify;
}

.home_container .botao{
    width: 20%;
    align-self: flex-start;
    margin-top: 1rem;
    justify-content: center;
    display: flex;
}

.home_content{
    width: 50vw;
    flex-direction:column;
}

.home_content img{
    display: flex;
    width: 85%;
    margin-left: auto;
}

/*Estilização About*/

.about_content{
    min-width: 30%;
    flex-direction:column;
    padding-right: -10rem;
}

.about_content img{
    display: flexbox;
    max-width: fit-content;
    width:80%;
    border-radius: 50%;
    max-height: fit-content;
    margin-top: 1rem;
}

.about_container{
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
    padding-top: 5rem;
    margin-top: -100px;
}

.about_container h1{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: left;
    margin-top: 1rem;
}

.about_container .botao{
    width: 20%;
}

#about_github{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1rem;
}

#about_texto p{
    margin-bottom: 1rem;
    text-align: justify;
}

/* Estilização da seção contact */

.contato_container{
    max-width: 1120px;
    display: flex;
    margin: 16px auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.contato_container h4{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-top: 6rem;
}

/* Estilização da seção form */

form{
    display: flex;
    flex-direction: column;
}

.form_subtitle{
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

form label{
    font-size: 0.90rem;
    text-align: left;
}

form input,
textarea{
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    font-size: 0.70rem;
}

textarea{
    resize: none;
    font-size: 0.70rem;
}

form span{
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: red;
}

form .botao{
    padding: 0.25rem 0.5rem;
    border: 1px solid;
    cursor: pointer;
}

/* Estilização footer */

.footer_container{
    height: 80px;
    position:sticky; 
    width: 100%;
    background-color: var(--purple-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.footer_content{
    color: var(--white);
}

/* Estilização redes sociais */

.social_container{
    display: flex;
    justify-content: right;
}

.social_icon{
    width: 4.5rem;
    height: 3rem;
    margin-left: 1rem;
    filter: invert();
}

.social_icon:hover{
    filter: brightness(0) saturate(100%) 
    invert(87%) sepia(8%) saturate(689%) 
    hue-rotate(256deg) brightness(95%) contrast(90%);
}

/*Estilização envioform*/

.home_container_envioform {
    max-width: 1120px;
    
}

#home_envioform {
    width: 50vw;
    flex-direction: column;
}

#home_envioform h1 {
    font-size: 2rem;
    font-weight: 700;
}

#home_envioform h4 {
    font-size: 1.25rem;
    padding: 1rem;
}

footer{
    text-align: center;
    padding-top: 2rem;
}

/*Modo responsivo*/

/*Smartphone - telas com até 480px*/

@media screen and (max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main{
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    footer{
        margin-top: auto;
    }

/*Ajustes no menu*/

    .menu_container{
        height: auto;
        padding: 1rem 0;
    }

    .menu_content{
        justify-content: center;
        max-width: 100%;
        padding: 1rem;
    }

    #titulo a{
        font-size: 1.5rem;
    }

    .menu_list{
        display: none;
    }

    /*Ajustes na home*/
    
    .home_container{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .home_content{
        width: 100%;
    }

    .home_content h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .home_content .botao{
        width: 40%;
        margin-left: 6rem;
    }

    .home_content img{
        width: 80%;
    }

    #home_texto{
        margin-top:0;
    }

    #home_imagem{
        margin-bottom: 0;
        margin-right: 5rem;
    }

    /*Ajustes na About*/
    .about_container{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 1.5rem;
    }

    .about_container img{
        width: 60%;
        margin-left: 4rem;
        margin-bottom: 0.5rem;
    }

    .about_container h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #about_github{
        flex-direction: column;
    }

    #about_github .botao{
        width: 40%;
        flex-direction: column;
    }

    /*Ajustes Contato*/

    .contato_container{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        padding: 0 1rem;
    }

    .contato_content{
        width: 100%;
    }

    .contato_content h4{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .contato_content p{
        margin: 1rem;
        margin-top: 1.5rem;
    }

    /*Ajustes Redes sociais*/

    .social_container{
        justify-content: center;
        width: 100%;
    }

    .social_icon{
        width: 2.5rem;
        height: 2.5rem;
    }

    /*Ajustes da Form*/
    form{
        margin: 1rem 0 0 0;
        padding: 1rem;
        
    }

    /*Ajustes do footer*/
    .footer_content{
        font-size: 0.9rem;
    }
}